.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #516e99;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-container h1{
    color: #fff;
}

.register-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    display: flex;
    flex-direction: column;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-form button:hover {
    background-color: #000;
}

.error-message{
    color: red;
}

.linkToLogin{
    padding: 4%;
    text-align: center;
}

.linkToLogin a{
    text-decoration: none;
    margin-left: 5%;
}

@media (max-width: 505px) {
    .register-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 400px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 405px) {
    .register-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 305px) {
    .register-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 200px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 205px) {
    .register-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 150px;
        display: flex;
        flex-direction: column;
    }
}