.formulario-cita-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.formulario-cita-form {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para las etiquetas de los campos del formulario */
.formulario-cita-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

/* Estilos para los inputs del formulario */
.formulario-cita-input,
.formulario-cita-select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.titulo-cita {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    color: #7a7a7a;
    font-weight: bold;
}

/* Estilos para el borde sutil alrededor del formulario */
.borde-sutil {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.mensaje-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.mensaje-enviado {
    color: #000;
    font-weight: bold;
    text-align: center;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.columna {
    flex: 1;
    margin-right: 10px;
}

.formulario-cita-input:focus,
.formulario-cita-select:focus {
    outline: none;
    border-color: #007bff;
}

/* Estilos para el botón de enviar */
.formulario-cita-submit {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-cita-submit:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {

    .fila {
        flex-direction: column; 
      }
      
      .columna {
        flex: none; 
        width: 100%; 
        margin-right: 0; 
        margin-bottom: 20px; 
      }

      .titulo-cita {
        text-align: center;
        font-size: 2em;
        text-transform: uppercase;
        color: #007bff;
        font-weight: bold;
    }
}